// Motherfucking Iphone 5S
@media (max-width: 321px) {
    .main-content{
        width: 100% !important;
    }
}
/* Mobile Only */
@media (max-width: 739px) {
    .hidden-m {
        display: none;
    }
    
    .container-uto{
        padding: 0 !important;
    }

    .main-content {
        width: 100% !important;
    }

    .post {
        width: 100% !important;
    }

    .post-content-img{
        margin-bottom: 12px;
    }

    .post .post-content-img {
        height: unset !important;
    }

    .post-content-img img {
        width: 100%;
        height: unset !important;
    }

    .footer-title{
        text-align: center;
    }

    .footer-icon-list {
        justify-content: center;
    }

    .footer-app-list{
        display: flex;
        justify-content: center;
    }

    .footer-brand{
        flex-direction: column;
        height: 70px !important;
    }

    .footer-link-item{
        text-align: center;
    }

    .post .post-buttons .post-button-text{
        font-size: 13px;
    }
    .post-inputs input {
        font-size: 12px;
    }

    .intro .table th {
        font-size: 9px !important;
        font-weight: 600;
        width: 10%;
        padding: 12px 4px !important;
        text-overflow: inherit;
    }

    .intro .table img {
        width: 80% !important;
        margin: 0;
    }

    .intro .table td {
        vertical-align: top;
        font-size: 12px;
        padding: 12px 4px !important;
    }

    .intro .img-list {
        flex-direction: column;
    }

    .market{
        .col-sm-6 {
            padding: 2px 4px;
        }
    }

    .edu{
        .col-xl-6 {
            padding: 0 6px;
        }
    }
    
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hidden-t {
        display: none;
    }

    .hidden-m-t {
        display: none !important;
    }
    .main-left {
        display: none;
    }

    .main-right{
        display: none;
    }

    .header{
        display: none !important;
    }

    .community{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-content{
        width: 100% !important;
    }

    .logistic{
        width: unset !important;
    }

    .market .market-product-item_img{
        height: 300px !important;
    }

    .edu .edu-category-item {
        height: 68px;
    }
}

/* Tablet Only */

@media (min-width: 740px) and (max-width: 1023px) {
    .market{
        .col-md-6 {
            padding: 2px 4px;
        }
    }

}



@media (min-width: 992px){
    .market{
        .col-lg-4 {
            padding: 2px 4px;
        }
    }
    .edu{
        .col-xl-6 {
            padding: 0 6px;
        }
    }
}



/* Tablet to PC low resolution */

@media (min-width: 985px) and (max-width: 1200px) {
    .container-uto{
        padding: 0 12px 0 !important;
    }

    .main-left {
        width: 350px !important;
    }

    .main-content{
        width: 600px !important;
    }

    .ft{
        width: 100% !important;
    }

    .footer{
        width: 100% !important;
    }

    .main-right-list{
        width: 250px !important;
    }
    .download{
        flex-direction: column;
    }

    .download-item{
        margin-top: 12px;
    }

    .download-item img{
        width: 140px;
    }

    
}

/* > PC low resolution */

@media (min-width: 1024px) and (max-width: 1239px) {
    .container-uto{
        padding: 0 12px 0;
    }

    .main-right-list{
        padding-left: 20px;
    }

    .main-left {
        width: 236px !important;
    }

    .main-content {
        width: 624px !important;
    }
}

/* Tablet to PC low resolution */

@media (min-width: 1240px) and (max-width: 1326px) {
    .container-uto{
        padding: 0 12px 0;
    }

    .main-left {
        width: 236px !important;
    }
}

/* PC only */

@media (min-width: 1024px) {
    .hide-on-pc {
        display: none !important;
    }
    .container-uto{
        padding: 0 12px 0;
    }
}

// PC
@media (min-width: 1200px) {
    .market{
        .col-xl-4 {
            padding: 2px 4px;
        }
    }

    .edu{
        .col-xl-6 {
            padding: 0 6px;
        }
    }
}


@media (min-width: 984px) and (max-width: 1023px) {
    .main-content{
        width: 100% !important;
    }
}
