@import '../../../../public/scss/variables';

.market{
    width: 100%;
    margin-top: 10px;
    & .post{
        padding-bottom: 2px;

        & .container{
            width: 100%;
        }

        .swiper-slide{
            margin-right: 4px !important;
            width: 33% !important;
        }
        
        .swiper-slide.swiper-slide-prev{
            margin-left: 10px;
        }

        .swiper-slide:nth-child(2).swiper-slide-prev{
            margin-left: 14px;
        }

        .swiper-slide:nth-child(3).swiper-slide-prev{
            margin-left: 18px;
        }

        .swiper-slide:nth-child(4).swiper-slide-active{
            margin-left: 8px;
        }

        .swiper-slide:nth-child(5).swiper-slide-active{
            margin-left: 21px;
        }

        .swiper-slide:nth-child(6).swiper-slide-active{
            margin-left: 30px;
        }

        .swiper-slide:nth-child(7).swiper-slide-active{
            margin-left: 39px;
        }
    }
    .swiper {
        width: 100%;
        height: 100%;
        }
    
    .swiper-slide {
        background-position: center;
        background-size: cover;
    }
    
    .swiper-slide img {
        display: block;
        width: 100%;
    }
    
    

    &-title{
        position: relative;
        font-size: 16px;
        margin: 0 0 6px 20px;
        text-transform: uppercase;
    }

    &-title::before{
        content: "";
        position: absolute;
        top: 0;
        left: -12px;
        width: 4px;
        height: 100%;
    }

    &-title--red::before{
        background-color: red;
    }

    &-title--blue::before{
        background-color: blue;
    }



    // flash sale
    .sale-title{
        display: flex;
        justify-content: space-between;

        &-left{
            display: flex;
        }

        &-icon{
            height: 30px;
            width: 30px !important;
        }

        &-text{
            font-size: 20px;
            margin-left: 10px;
        }
    }

    .view-more{
        font-size: 16px;
    }

    .market-product-list{
        margin: 8px 0;
    }


    & .banner{
        display: block;
        width: 100%;
        margin-top: 10px;
        overflow: hidden;

        img{
            width: 100%;
            transition: all 2s ease;
        }

        img:hover{
            transform: scale(1.05);
        }
    }
}