@import "../../../../public/scss/variables";

.product {
  padding: 10px;
  &-img {
    height: 400px;
    display: flex;
    & img {
      margin: auto;
      height: 100%;
    }
  }

  &-infor {
    padding: 10px;
    p {
      font-size: 12px;
    }
    &-name {
      font-size: 20px;
    }
    &-vote {
      font-size: 13px;
      display: flex;
      align-items: center;
      &-item {
        display: flex;
        padding: 0 20px 0 10px;
        border-right: 2px solid #ccc;
      }
      &-item:first-child {
        padding-left: 0;
      }
      &-item:last-child {
        border-right: none;
      }

      &-item .css-ryrseu-MuiRating-root {
        font-size: 17px;
        margin-left: 8px;
      }
    }
    &-price {
      margin: 20px 0;
      font-size: 14px;
      &-current {
        font-size: 20px;
        font-weight: 500;
        color: #b53d3c;
      }
      &-retail {
        text-decoration: line-through;
      }
    }
    &-quantity {
      display: flex;
      align-items: center;
      font-size: 15px;
      margin: 0 0 20px;

      &-control {
        display: flex;
        margin: 0 20px;
        border: 1px solid #ccc;
        border-radius: 6px;
        overflow: hidden;
        & > div {
          padding: 10px 14px;
          background-color: #f5f7fa;
        }
        & input {
          border: none;
          outline: none;
          width: 70px;
          padding: 4px 8px !important;
          text-align: center;
        }
        .control-value {
          border-left: 1px solid #ccc;
          border-right: 1px solid #ccc;
          padding: 10px 30px;
          background-color: #fff;
        }
        .control-btn:hover {
          cursor: pointer;
          background-color: $primary-blue;
          color: #fff;
          transition: all 0.5s ease;
        }
        .control-btn.disable {
          cursor: unset !important;
          opacity: 0.1;
        }
        .control-btn.disable:hover {
          background-color: #ccc;
        }
      }
    }
    &-button {
      display: flex;
    }
  }
}

.shop {
  display: flex;
  align-items: center;
  padding: 0px 10px;
  &-avt {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    // overflow: hidden;
    &::after {
      content: "";
      top: -5px;
      left: -5px;
      border-radius: 50%;
      position: absolute;
      width: calc(100% + 10px);
      height: calc(100% + 10px);
      border: 3px solid $primary-blue;
    }

    img {
      width: 100%;
      border-radius: 50%;
    }
  }
  &-infor {
    padding: 4px 10px 4px 20px;
    font-size: 14px;
    width: 500px;
    line-height: 20px;
    & > div {
      display: flex;
    }
    &-name {
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 10px;
    }
    p {
      display: block;
      font-weight: 500;
      color: gray;
      margin: 4px 4px 4px 0;
      min-width: 90px;
    }
    a {
      font-size: 16px;
      transform: translateY(3px);
    }
  }
  .shop-btn {
    margin: 10px 0;
    width: 200px;
  }

  .shop-btn i {
    margin-right: 6px;
  }

}

.all-content .post .container .col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto{
  padding: 4px;
}