@import "../../../../public/scss/variables";

.edu{

    .post{
        padding: 7px 5px;
    }

    & .edu-category-list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    & .edu-category-item{
        width: 100%;
        display: flex;
        padding: 10px;
        margin: 6px 0;
        justify-content: space-between;
        background-color: #D4DFE7;

        &_text{
            font-size: 16px;
            display: flex;
            align-items: center;
        }

        &_icon{

            img{
                width: 40px;
            }
        }
    }

    .edu-post{
        .swiper-slide{
            margin-right: 4px !important;
            width: 33% !important;
        }
        
        .swiper-slide.swiper-slide-prev{
            margin-left: 10px;
        }
    
        .swiper-slide:nth-child(2).swiper-slide-prev{
            margin-left: 14px;
        }
    
        .swiper-slide:nth-child(3).swiper-slide-prev{
            margin-left: 18px;
        }
    
        .swiper-slide:nth-child(4).swiper-slide-active{
            margin-left: 8px;
        }
    
        .swiper-slide:nth-child(5).swiper-slide-active{
            margin-left: 21px;
        }
    
        .swiper-slide:nth-child(6).swiper-slide-active{
            margin-left: 30px;
        }
    
        .swiper-slide:nth-child(7).swiper-slide-active{
            margin-left: 39px;
        }
    
        .seller-slider-cart{
            display: block;
            border-radius: 6px;
            margin: 6px;
    
            
        }
    }

    .feature-courses-title{
        text-transform: uppercase;
        font-size: 18px;
        margin: 0 0 10px 8px;
        padding: 0 8px;
        border-bottom: 1px solid $background-gray;
    }

   .reason-item{
        text-align: center;
        margin-top: 10px;
        padding: 10px;
        border: 1px solid $primary-blue;
        border-radius: 10px;
        
        & img{
            width: 100px;
        }

        &-title{
            font-size: 16px;
            font-weight: 500;
            color: $primary-blue;
        }

        &-decs{
            padding: 0 12px;
            font-size: 14px;
            line-height: 22px;
            height: 44px;
        }
   }
}